#home.page.showing
  %h1 PRETTY AWFUL.net
  #home_content.content
    hi i'm sean and i'm pretty awful. here is where i put the things i make and they are pretty aweful too.
    #bignav
      %img.btn(src="/images/comics.png" onClick="showPage('comics')")
      %img.btn{:src=>"/images/art.png"}
      %img.btn{:src=>"/images/about.png"}
      %img.btn{:src=>"/images/design.png"}
      %img.btn{:src=>"/images/links.png"} 

#comics.page(data-spy="scroll")
  .nav
    %ul.sidebar
      %li JUMP TO
      = each_content_item("comics") do |i|
        - wo_ext = i.rpartition(".")[0]
        %li 
          %a{:href=>"#comic-panel-#{wo_ext}"}= wo_ext
      %li
        %a(href="#" onClick="showPage('home')") &lt;&lt;HOME
  .content.comics
    = each_content_item("comics") do |i|
      - wo_ext = i.rpartition(".")[0]
      %img.panel{:name=>"comic-panel-#{wo_ext}", :id=>"comic-panel-#{wo_ext}", :src=>s3_link("/comics/#{i}")}

  %a.btn(onClick="showPrev('panel')") Previous
  %a.btn(onClick="showPage('home')") Home
  %a.btn(onClick="showNext('panel')") Next



